<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/mvc
                            http://www.springframework.org/schema/mvc/spring-mvc.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- SpringMVC的配置 -->
    <context:component-scan base-package="com.justcs.*"/>

    <!-- org.springframework.web.servlet.resource.DefaultServletHttpRequestHandler，
    它会像一个检查员，对进入DispatcherServlet的URL进行筛查，如果发现是静态资源的请求，
    就将该请求转由Web应用服务器默认的Servlet处理，如果不是静态资源的请求，才由DispatcherServlet继续处理。
    -->
    <mvc:default-servlet-handler/>

    <!-- 配置支持返回json格式的数据 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <!-- 配置fastjson支持 -->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=utf-8</value>
                        <value>application/json</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


    <!-- 定义跳转的文件的前后缀 ，视图模式配置 -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 配置用于session验证的拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 拦截所有的请求，这个必须写在前面，也就是写在【不拦截】的上面 -->
            <mvc:mapping path="/**"/>
            <!-- 但是排除下面这些，也就是不拦截请求 -->
            <mvc:exclude-mapping path="/usr/index"/> <!-- 请求登录页面 -->
            <mvc:exclude-mapping path="/usr/login"/> <!-- 登录操作 -->
            <mvc:exclude-mapping path="/usr/regist"/> <!-- 请求注册 -->
            <mvc:exclude-mapping path="/usr/doregist"/> <!-- 注册操作 -->
            <mvc:exclude-mapping path="/usr/checkcode"/> <!-- 获取验证码 -->
            <mvc:exclude-mapping path="/test/superuser"/> <!-- 超级管理员 -->
            <mvc:exclude-mapping path="/test/surlogin"/> <!-- 超级管理员登录 -->
            <bean class="com.justcs.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>


</beans>